<footer class="footer ">
    <img src="assets/img/Imagen1.png" style="width:35px;height:25px;">
    &nbsp
    Edwin Iza - Anthony Cardenas - Veronica Pillajo
    </br>2019-2020
    <button class="btn btn-sm" style="background-color:transparent;" data-toggle="modal" data-target="#exampleModal2">
        <i class="fa fa-question-circle"></i> Contactos
    </button>

</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contáctos de Desarrolladores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Información:
                <ul>
                    <li>1.-Edwin Iza - eizac@est.ups.edu.ec</li>
                    Telefono: 0987927962
                    <li>2.-Anthony Cardenas - acardenast@est.ups.edu.ec</li>
                    Telefono: 0995689611
                    <li>3.-Veronica Pillajo - vpillajo@est.ups.edu.ec</li>
                    Telefono: 0987416510
                     <li>GitHub:</li>
                    <a href="https://github.com/VeronicaPillajo/Proyecto2Parcial">https://github.com/VeronicaPillajo/Proyecto2Parcial</a>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<script>
    $(document).ready(function () {

        $("#tema").change(function () {
            var val = $(this).val();

            if (val == 1) {
                $("#ob").html("<li >{{obs.0.descripcion}}</li>");
            } else if (val == 2) {
                $("#ob").html("<li>{{obs.1.descripcion}}</li>");
            }
        });
    }); 
</script>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>

</html>