{{> header }}

{{> navbar }}
<br>
<div class="container justify-content-center">
    <p>
        <p><b style="background-color: initial;">Desarrolladores del Modulo Inicio</b></p>

        <p><b>1.&nbsp;Anthony Cardenas
            </b></p>

        <p><b>2.&nbsp;Edwin Iza</b></p>

        <p><b>3.&nbsp;Veronica Pillajo</b></p>

</div></br>
{{> footer }}