{{> header }}

{{> navbar }}


<div class="jumbotron">
        <h1 class="display-6">Proceso necesario antes de la Inscripción</h1>
        <p>
                <p><b style="background-color: initial;">Con resolución de Consejo de Carrera
                                número: 00324-013-2019-05-20, se inicia</b><b
                                style="background-color: initial;">&nbsp;oficialmente el
                                periodo de inscripciones y el proceso (pre) de titulación del p55, para aplicar
                                al proceso, recuerde que los requisitos son:</b></p>

                <p><b>1.&nbsp;Cumplir con por lo menos el 80% de
                                las materias aprobadas</b></p>

                <p><b>2.&nbsp;No tener pendientes materias por
                                debajo de noveno semestre</b></p>

                <p><b>3.&nbsp;Tener aprobadas y registradas las
                                extensiones universitarias y pasantías</b></p>

                <p><b>4.&nbsp;Tener aprobados TODOS los niveles
                                de inglés</b></p>

                <p><b>5.&nbsp;Tener aprobados y registrados por
                                lo menos 4 seminarios profesionales &nbsp;</b></p>

                <p></p>
                
</div>

{{> footer }}