{{> header }}

{{> navbar }}


<div class="container">
    </br>
    <div class="alert alert-danger" role="alert">
        El tema se ha registrado exitosamente
    </div>
    El siguiente boton le permitira retornar
    </br>
    <a class="btn btn-primary" href="/">Inicio</span></a>

</div>
{{> footer }}